

.bdy_u{
  background-color: rgb(202, 235, 248);
  height: 1050px;
  padding: 20px;
}
.bdy_u2 {
  padding: 1rem;           
  border-radius: 10px;
  background-color: #ffffff; 
  width: 61rem;
  height: 200px;
  
}
.imge1_u{
  width: 30px;
  display: flex;
  flex-direction: row;
 
}
.image2_u{
  margin: -65px 0px 0px 860px;
  width: 60px;

}
.image3_u{
  width: 141vh;
  margin-top: -106px;
   position: absolute;

}
.icons_u{
  margin-top: 30rem;
  margin-left: 160px;
}
.sidebar_u{
  margin-top: -5%;
  background-color: white;
  border-radius: 8px;
 
}
@media (max-width:768px){
  .bdy_u{
    background-color: rgb(215, 241, 246);
    height: 230vh;
   min-width:27vh;
    
  }
  .bdy_u2 {
    border-radius: 10px;
    width: 22rem;
    height: 210px;
    margin-left: -0px;  
  }
  .image2_u{
    margin: -50px 0px 0px 32vh;
    width: 30px;
  }
  .image3_u{
    width: 39vh;
    margin-top: -85px;
    margin-left: -3px;
    position: absolute;
  }
  .icons_u{
    margin-top: -4em;
    margin-left: 11vh;
}
.sidebar_u{
  margin-top: 43vh;
  border-radius: 8px;
  margin-left: -1030px;
  width: 42vh;
  padding: 20px;
 
}
.sidebar2_u{
  margin-left: -1020px;
  width: 355px;  
  }

}
     

