.bdy_u{
  background-color: rgb(216, 239, 248);
  height: 1050px;
  padding: 20px;
}
.bdy_u2 {
  padding: 1rem;           
  border-radius: 10px;
  background-color: #ffffff; 
  width: 61rem;
  height: 200px;
  
}
.imge1_u{
  width: 30px;
  display: flex;
  flex-direction: row;
 
}
.image2_u{
  margin: -65px 0px 0px 860px;
  width: 60px;

}
.image3_u{
  width: 134vh;
  margin-top: -106px;
  position: absolute;
}
.icons_u{
  margin-top: 24rem;
  margin-left: 160px;
}
.sidebar_u{
  margin-top: -125%;
  background-color: white;
  border-radius: 8px;
 
}
@media (max-width: 640px){
  .bdy_u{
    background-color: rgb(216, 239, 248);
    height: 1300px;
    width: 310px;
    
  }
  .bdy_u2 {
      border-radius: 10px;
      width: 18rem;
      height: 200px;
      margin-left: -10px;
      
    }
    .image2_u{
      margin: -90px 0px 0px 200px;
      width: 40px;
    
    }
  .image3_u{
      width: 31vh;
      margin-top: -85px;
      margin-left: -8px;
      position: absolute;
    }
    .icons_u{
      margin-top: -9rem;
      margin-left: 60px;
      
       }
       .sidebar_u{
        margin-top: 470px;
        background-color: white;
        border-radius: 8px;
        margin-left: -1030px;
        width: 291px;
       
      }
      .sidebar2_u{
        margin-left: -1030px;
        width: 291px;
        display: flex;       
        flex-direction: column; 
        gap: 16px;    
        }
      }
      
    