.bdy_u{
  background-color: rgb(216, 239, 248);
  height: 1050px;
  padding: 20px;
}
.bdy_u2 {
  padding: 1rem;           
  border-radius: 10px;
  background-color: #ffffff; 
  width: 61rem;
  height: 200px;
  
}
.imge1_u{
  width: 30px;
  display: flex;
  flex-direction: row;
 
}
.image2_u{
  margin: -65px 0px 0px 860px;
  width: 60px;

}
.image3_u{
  width: 134vh;
  margin-top: -106px;
  position: absolute;
}
.icons_u{
  margin-top: 24rem;
  margin-left: 160px;
}
.sidebar_u{
  margin-top: -125%;
  background-color: white;
  border-radius: 8px;
 
}
@media (max-width: 768px){
  .bdy_u{
    background-color: rgb(217, 244, 250);
    height: 300vh;
    width: 1100px;
    
  }
  .bdy_u2 {
    width: 50rem;
    margin-left: 20px;
  }
  .image2_u{
    margin: -55px 0px 0px 73vh;
    width: 60px;
  }
  .image3_u{
    width: 800px;
    margin-left: 20px;
    /* width: 40vh;
    margin-top: -85px;
    margin-left: -8px;
    position: absolute; */
  }
  .icons_u{
    margin-top: 22vh;
    justify-content: center;
    display: flex;
  }
  .sidebar_u{
    margin-top: 480px;
    background-color: white;
    border-radius: 8px;
    margin-left: -90vh;
    width: 550px;
    padding: 20px;
    height: 57vh;
   
  }
  .sidebar2_u{
    margin-left: -900px;
    width: 700px;
    /* display: flex;       
    flex-direction: column;  */
    /* gap: 16px;  */

    } }

  /* 
   

      /* @media (max-width: 640px){
        .bdy_u{
          background-color: rgb(197, 241, 245);
          height: 1300px;
                   
        }
        .bdy_u2 {
            border-radius: 10px;
            width: 16rem;
            height: 200px;
            margin-left: -10px;
            
          }
          .image2_u{
            margin: -90px 0px 0px 200px;
            width: 40px;
          
          }
        .image3_u{
            width: 28vh;
            margin-top: -85px;
            margin-left: -8px;
            position: absolute;
          }
          .icons_u{
            margin-top: -10rem;
            margin-left: 60px;
            
             }
             .sidebar_u{
              margin-top: 445px;
              background-color: white;
              border-radius: 8px;
              margin-left: -1030px;
              width: 254px;
             
            }
            .sidebar2_u{
              margin-left: -1030px;
              width: 253px;
              display: flex;       
              flex-direction: column; 
              gap: 16px;    
              }
            } */
            
          
      
    