.app {
  text-align: center;
  padding: 20px;
  background-image: url('./assets/side-wave_background.jpg');
  background-image: linear-gradient();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}
.app1{
  color: black;
}
.scrollable-wrapper {
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none; 
}

.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}

.courses-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-shrink: 0; 
}

.courses-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.grid-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem; 
}