
.container_u{
  color: blueviolet;
  margin: -115px 0px 0px -345px;
  
}
.button_u {
  background-color: #38b2ac; 
  color: white;           
  padding: 0.5rem 1rem;     
  border-radius: 0.5rem;   
  transition: background-color 0.2s ease;
  margin: -110px 0px 0px 390px;
  padding-left: 20px;
  position: absolute;
}

.button_u:hover {
  background-color: #319795; /* Darker teal color equivalent to bg-teal-600 */
}
.eyecon_u{
  display: flex;
  margin-left: 350px;
  margin-top: -24px;
  gap:20px;
}


#btn_u{
  /* margin: -100px 0px 0px -390px;
  padding-left: 20px;
  margin-right: -340px; */
 }
#description_u{
  margin: -35px 0px 0px -345px;
  padding-right: 420px;
  font-size: 16px;
 
}

.icons_u{
    margin: 25px 0px 0px -340px;
    display: flex;            
    align-items: center;      
    gap: 9px;  
    justify-content: space-between;        
}
