
.container_u{
  color: blueviolet;
  margin: -115px 0px 0px -345px;
  
}

#btn_u{
  margin: -100px 0px 0px -390px;
  padding-left: 20px;
  margin-right: -340px;
 }
#description_u{
  margin: -35px 0px 0px -345px;
  padding-right: 420px;
  font-size: 16px;
 
}

.icons_u{
    margin: 25px 0px 0px -340px;
    display: flex;            
    align-items: center;      
    gap: 9px;  
    justify-content: space-between;        
}
